.simple_button {
    display:inline-block;
  	background-color: white;
  	color: black;
  	border: 2px solid #555555;
	  height: 40px;
    width: 90px;
    font-size: 18px;
}

.simple_button:hover {
  background-color: #555555;
  color: white;
}
/* .inline_form{
  display:inline-block;
} */
#id_register_link{
  /* position: absolute; */
  right:10px;
  bottom:5px;
}
