{% extends "PittsTime/base.html" %}
  {% load staticfiles %}
{% block content %}
<style type="text/css">
  #error{
    margin-left:30px;
    color:red;
  }
</style>
<body>
  <h3 id="error">{{error}}</h3>
  <form action="" method="POST" name="blogform" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    {{form.media}}
   {{ form.as_p }}

    <input type="submit" value="Submit change" class="btn btn-primary editchoice">
      <a class="btn btn-primary editchoice" href="{%url 'manageBlog'%}">Cancel</a>
    </form>

    <input type="hidden" name="" value="{{blog_content}}" id="hidden">
    <input type="hidden" name="" value="{{tags}}" id="hiddentags">
    <script type="text/javascript">
      var title = "{{title}}";
      console.log(title);
      var content = document.getElementById('hidden').value;
      var tags = document.getElementById('hiddentags').value;
      tags = tags.replace("[","");
      tags = tags.replace("]","");
      tags = tags.replace(/'/g,"");
      console.log(content);
      formObject = document.forms['form'];
      formObject.elements['title'].value= "{{title}}";
      formObject.elements['Blog_content'].value = content;
      formObject.elements['tags'].value = tags;
      var blogcontent = document.getElementById('id_Blog_content');
      var scripts = blogcontent.getElementsByTagName('script');
      var i = scripts.length;
      while(i--){
        console.log(scripts[i]);
         scripts[i].parentNode.removeChild(scripts[i]);
      }
    //   console.log("blogcontent"+blogcontent.value);
    // if(blogcontent.value==""){
    //   alert("please enter blog content");
    // }
    </script>
</body>
{% endblock %}
