{% extends "PittsTime/base.html" %}
{% load staticfiles %}
{% block content %}

  <!-- Content -->
      <section class="content blog-standard pt-mdm-50">
        <div class="container relative">
          <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-3 sidebar">
              <div class="widget about-blog text-center">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Interests</h3>
                </div>
                <img src="img/about_me.jpg" alt="">
                <ul class="list-dividers">
                {% if myinterest or myinterest_empty %}
                    {% for i in myinterest %}
                      <li><a href="{% url 'tag_myinterest' i.id%}" >{{i.name}}</a>
                        {% if i in myinterest %}
                        <a href="{% url 'delete_interest_myinterest' i.id%}" ><button class="btn btn-light btn-sm"> Unsubscribe</button></a></li>
                        {% else %}
                        <a href="{% url 'add_interest_myinterest' i.id%}" ><button class="btn btn-light btn-sm"> Subscribe</button></a>
                        {% endif %}
                  {% endfor %}

                {% else %}
                  {% for i in interest %}
                      <li><a href="{% url 'tag' i.id%}" >{{i.name}}</a>
                        {% if i in following %}
                        <a href="{% url 'delete_interest' i.id%}" ><button class="btn btn-light btn-sm"> Unsubscribe</button></a></li>
                        {% else %}
                        <a href="{% url 'add_interest' i.id%}" ><button class="btn btn-light btn-sm"> Subscribe</button></a>
                        {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
                <img src="img/signature.png" alt="">
              </div>

            </aside> <!-- end sidebar -->


            <!-- post content -->
            <div class="col-md-9 post-content mb-50">

                    <!-- list posts -->
                    <div class="row items-list">
                      <article class="entry-item clearfix">

                        {% for b in blog %}
                        <div class="col-sm-7">
                          <div class="entry-header">
                            <h2 class="entry-title">
                              <a href="{% url 'blog-detail' b.id%}">{{b.title}}</a>
                            </h2>
                          </div>
                          <div class="entry-wrap">
                            <div class="entry">
                              <div class="entry-content">
                                  {{b.Blog_content|safe}}
                              </div>
                              <div class="entry-meta-wrap clearfix">
                                <ul class="entry-meta">
                                  <li class="entry-date">
                                    <a>{{b.create_time}}</a>
                                  </li>
                                </ul>

                              </div>
                                <hr>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                      </article>

                    </div> <!-- end list posts -->


                  </div> <!-- end col -->



          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end content -->



{% endblock %}
