{% extends "PittsTime/base.html" %}
  {% load staticfiles %}
    {% block content %}
<title>ManageBlogpage</title>
 <meta name="viewport" content="initial-scale=1.0">
 <meta charset="utf-8">
 <style>
   .entry-content{
     height:140px;
     overflow:hidden;
   }
 </style>
  <!-- Content -->
      <section class="content blog-standard pt-mdm-50">
        <div class="container relative">
          <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-3 sidebar">
              <div class="widget about-blog text-center">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Your favorite Tags</h3>
                </div>
                 <ul class="list-dividers">
                {% for t in tags %}
                <li><a>{{t}}</a></li>
                {% endfor %}
              </ul>
              </div>

            </aside>


            <!-- post content -->
            <div class="col-md-9 post-content mb-50">


              <div class="row items-list">
                <article class="entry-item clearfix">
                {% if blog %}
                  {% for b in blog %}
                  <div class="col-sm-7">
                    <div class="entry-header">
                      <h2 class="entry-title">
                        <a href="{% url 'blog-detail' b.id%}">{{b.title}}</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                            {{b.Blog_content|safe}}
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">{{b.create_time}}</a>
                            </li>
                          </ul>

                        </div>
                        <a href="{%url 'blog-edit' b.id%}" class="btn btn-md btn-stroke">Edit</a>
                        <a href="{% url 'blog-delete' b.id%}" class="btn btn-md btn-stroke">Delete</a>
                          <hr>
                      </div>
                    </div>
                  </div>

                  {% endfor %}
                {% else %}
                    <h3>Sorry, you have no blog yet, please come back later</h3>
                {% endif %}
                    </article>
                </div> <!-- end row -->
              </div>
        </div>
      </div>
    </section> <!-- end content -->



{% endblock %}
